/* 
.adpart {
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
  }
  *{
    color: black;
  }
  /* .row {
    flex: 1;
    display: flex;
  } */
/*   
  .sidebar {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  
  .content-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .content-open {
    margin-left: 250px; 
  }
  
  .content-closed {
    margin-left: 0;
  }
  
  .sidebar-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #f8f9fa;
    z-index: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
  } */
   */
  /* Adminpart.css */

/* Adminpart.css */
.container-fluid {
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.barbg{
  background-color: #841ECC;
  /* background-image: url("https://img.freepik.com/free-vector/purple-pink-halftone-background-vector_53876-67278.jpg?t=st=1722946789~exp=1722950389~hmac=fc79dc44fed1871e22e3a2457025a505d2adbb23602e13f3071c0b533fa4f016&w=740"); */ 
}

.sidebar.open {
  transform: translateX(0);
}

.content-area {
  padding: 40px;
  transition: margin-left 0.3s ease;
}

.content-open {
  margin-left: 250px;
}

.content-closed {
  margin-left: 0;
}
.navbar-nav .nav-item .dropdown-menu {
  background-color: #9453c3 ;
  border: 0;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #fff; /* White text */
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #841ECC ; /* Darker background on hover */
}
@media (min-width: 992px) {
  .sidebar {
    transform: translateX(0);
  }
  
  .sidebar-header {
    display: none;
  }

  .content-open,
  .content-closed {
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .sidebar-header {
    display: block;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    transform: none;
  }
  .content-open,
  .content-closed {
    margin-left: 0;
  }
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
} 




  